/* ----------- fonts ----------- */

/*400-900 weight. I can add more of these cinzel fonts if I want. */
.cinzel-regular > {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text_color: rgb(20, 20, 20);
  --text_color_hover: rgb(223, 24, 24);
  --text_color_active: rgb(21, 83, 240);

  --text_color_dark_mode: rgb(242, 242, 242);
  --text_color_dark_mode_hover: rgb(168, 168, 168);
  --text_color_dark_mode_active: rgb(244, 255, 175);

  --testing_bufferblock_color: rgb(244, 255, 175, 30%);
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
  font-size: 16px; /* Base font size */
  line-height: 1.5;
}

/* Reset headings to match base font */
/*
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; 
}
*/

.light_mode a {
  color: var(--text_color);
}
.light_mode a:hover {
  color: var(--text_color_hover);
}
.light_mode a:active {
  color: var(--text_color_active);
}

.dark_mode a {
  color: var(--text_color_dark_mode);
}
.dark_mode a:hover {
  color: var(--text_color_dark_mode_hover);
}
.dark_mode a:active {
  color: var(--text_color_dark_mode_active);
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin: 0 0 1rem; /* Add default spacing below paragraphs */
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}

.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.copy-1half {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}
.copy-2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
}

.copy-2half {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #383e4a;
}

.main_stage {
  width: 1280px;
  height: 720px;
  background-color: #d9d9d97f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow-y: auto;
}

.scene-header-navigation {
  height: 200px;
  width: 100%;
  flex-shrink: 0;
  background-color: rgba(255, 127, 80, 0.297);
  padding: 32px;
}

.scene-header-navigation ul {
  display: flex;
  gap: 20px;
  list-style: none;
  position: sticky;
  top: 20px;
  left: 20px;
}

.scene-header-navigation ul li a {
  text-decoration: none;
}

/* ----------- home_page ----------- */

.main_stage.home_page {
  background-image: url(assets/act_1_scene_3/BG12-cropped.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.home_page h1 {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.acts_menu {
  display: flex;
  justify-content: center;
}

.acts_menu h2 {
  padding: 0px 0px 12px 0px;
}

.scenes_menu {
  padding: 64px;
}

/* ----------- Act 1, Scene 1 ----------- */

/* ----------- Act 1, Scene 2 ----------- */

/*Sets up parralax within the wrapper I believe.*/
.wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  /*-ms-overflow-style: none;*/ /* IE and Edge */
  /*scrollbar-width: none;*/ /* Firefox */
}

.first_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  border: blue 3px solid;
}

.act_1_scene_2 .first_background {
  align-self: center;
  width: 100%;
  position: absolute;
  z-index: -10;
  transform: translateZ(-200px) translateY(2800px) scale(3); /*Adds parralax to the background*/
}

.act_1_scene_2 .establishing_shot {
  width: 1200px;
  position: relative;
}

.writing-rail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  outline: 2px solid rgb(255, 0, 0);

  /* these may not be needed */
  /* height: 2000px; */
  /* flex-shrink: 0; */
}

.writing-cart {
  position: sticky;
  top: 60px;
  border: 6px solid plum;
}

.writing-no-hand {
  /* position: sticky;
  top: 10px; */
  width: 1000px;
  outline: 2px solid rgb(215, 233, 13);
}

.writing-no-hand img {
  width: 1000px;
}

.writing {
  position: absolute;
  top: 0px;
  width: 1000px;
  outline: 2px solid rgb(14, 169, 151);
}

.writing img {
  width: 1000px;
}

.fade-in-image {
  opacity: 0; /* Hidden initially */
  transform: translateY(20px); /* Slightly shifted down */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
  transition-delay: 0.4s;
}

.fade-in-image.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Back to original position */
}

.act_1_scene_2 .relief {
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.194);
  min-height: 200px;
}

.act_1_scene_2 .angry-miranda {
  position: relative;
  left: -100px;
}
.act_1_scene_2 .angry-miranda img {
  border: 1px solid plum;
  width: 1000px;
}

.act_1_scene_2 .justice {
  position: relative;
  left: -100px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.167);
  min-height: 200px;
}

.act_1_scene_2 .prospero-standing-rail {
  position: relative;
  border: 2px solid red;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.act_1_scene_2 .prospero-standing-cart {
  position: sticky;
  top: 5px;
  border: 4px solid plum;
}

.act_1_scene_2 .prospero-sitting img {
  height: 700px;
}

.act_1_scene_2 .prospero-standing {
  position: absolute;
  top: 0px;
  /* pre-animation */
  opacity: 0;
  transition: opacity 0.6s ease-out;
  transform: translateY(20px);
}

.act_1_scene_2 .prospero-standing.visible {
  opacity: 1;
  transform: translateY(0);
}

.act_1_scene_2 .prospero-standing img {
  height: 700px;
}

.act_1_scene_2 .prospero-explains-rail {
  position: relative;
  border: 2px solid red;
}

.act_1_scene_2 .prospero-explains-cart {
  position: sticky;
  top: 5px;
  border: 4px solid plum;
}

.act_1_scene_2 .prospero-explains img {
  height: 700px;
}

.act_1_scene_2 .prospero-leaning-on-wall {
  position: absolute;
  top: 0px;
  /* pre-animation */
  opacity: 0;
  transition: opacity 1.0s ease;
}
.act_1_scene_2 .prospero-leaning-on-wall.visible {
  /* post animation */
  opacity: 1;
}
.act_1_scene_2 .prospero-leaning-on-wall img {
  height: 700px;
}

/* ----------- Buffer and trigger boxes ----------- */

.act_1_scene_2 .trigger {
  background-color: rgba(67, 206, 86, 0.308);
}

.buffer-150 {
  flex-shrink: 0;
  width: 100%;
  height: 150px;
  background-color: var(--testing_bufferblock_color);
}

.buffer-300 {
  flex-shrink: 0;
  width: 100%;
  min-height: 300px;
  background-color: var(--testing_bufferblock_color);
}

.buffer-600 {
  flex-shrink: 0;
  width: 100%;
  height: 600px;
  background-color: var(--testing_bufferblock_color);
}

.trigger {
  background-color: rgba(0, 128, 0, 0.236);
}
